
 <div class=" login"> 
    <div class="form">
        <h1>Login Form</h1>
        <form [formGroup]="loginform" >
            <div>
                <input type="text" formControlName="username" placeholder=" Username">
                <div *ngIf="loginform.controls['username'].touched && loginform.controls['username'].errors" class="error">
                     *Password must be required min 5 and max20 char
                </div>
            </div> <br>
            <div>
                <input type="text" formControlName="password" placeholder=" Password">
                <div class="error" *ngIf="loginform.controls['password'].touched&& loginform.controls['password'].errors">
                        <div *ngIf="loginform.controls['password'].errors['required']">*Password must be required</div>
                        <div>*Password must be atleast one Num_Upper_Lowercase</div>
                </div>
            </div><br>
            <button (click)="login()" [disabled]="!loginform.valid" class="btn btn-info">Login</button>
         </form>
    </div>
 </div>
