<div [formGroup]="personForm">
    <div>
        <label>Firstname:</label>
        <input type="text" formControlName="fname" >
        <div *ngIf="personForm.controls['fname'].errors">Firstname must be Required</div>
    </div>
    <div>
        <label>lasttname:</label>
        <input type="text" formControlName="lname" >
        <div *ngIf="personForm.controls['lname'].errors">lastname must be Required</div>
    </div>
    <div>
        <label>age:</label>
        <input type="text" formControlName="age" >
        <div *ngIf="personForm.controls['age'].errors">age must be Required</div>
    </div>
    <button (click)="add()" *ngIf="!upbtnstatus" >Addperson</button>
    <button (click)="update()" *ngIf="upbtnstatus" >update</button> 
</div>


<table border="2px solid">
    <thead>
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Age</td>
            <td>Delete</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of person ; let i=index">
            <td>{{item.fname}}</td>
            <td>{{item.lname}}</td>
            <td>{{item.age}}</td>
            <td><button (click)="del(i)">Delete</button></td>
            <td><button (click)="edit(item,i)">Edit</button></td>
        </tr>
    </tbody>
</table>

